<ion-header no-border>
  <ion-navbar color="primary" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>首页</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-refresher no-border (ionRefresh)="doRefresh($event)" pullMax="240" pullMin="60">
    <ion-refresher-content
      pullingIcon="arrow-down"
      refreshingSpinner="bubbles">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let item of items" (click)="viewDetial(item)">
    <ion-item (click)="viewPerson(item.userId,$event)">
      <ion-avatar item-start>
        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/marty-avatar.png">
      </ion-avatar>
      <h2>Marty McFly</h2>
      <h3>
        <ion-note>{{item.create_time|date: 'yyyy-MM-dd'}}</ion-note>
      </h3>
    </ion-item>
    <ion-card-content *ngIf="item.title">
      <h2>{{item.title}}</h2>
    </ion-card-content>
    <img *ngIf="item.pics.length > 0 " [src]="item.pics[0]">
    <ion-card-content *ngIf="item.content">
      <span [innerHtml]="item.content"></span>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small color="dark">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small color="dark">
          <ion-icon name="text"></ion-icon>
          <div>4</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small color="dark">
          <ion-icon name="md-share"></ion-icon>
          <div>4</div>
        </button>
      </ion-col>
      <ion-col col-3 align-self-center text-center>
        <p>
          {{item.create_time|timeline: 'yyyy-MM-dd'}}
        </p>
      </ion-col>
    </ion-row>

    <ion-card-content style="border-top: 1px solid #eee" *ngIf="item.comments">

    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="正在加载...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
