page-home {
  .has-refresher > .scroll-content {
    border-top: none;
  }

  ion-content{
    background-color: #eee!important;
  }

  ion-card {
    border-radius: 0!important;
    width: 100%!important;
    margin-left: 0!important;
    margin-right: 0!important;
    margin-top: 1.6rem!important;
  }

}
